extends ../layout

block content
  h3
    i.fa.fa-angle-right
    |  个人主页
  // BASIC FORM ELELEMNTS
  .row.mt
    .col-lg-12
      .form-panel
        if message
        .alert.alert-warning.alert-dismissable
          button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
          strong #{message}
        h4.mb
          i.fa.fa-angle-right
          |  申请KEY
        form.form-horizontal.style-form(method='get')
          .form-group
            label.col-lg-2.col-sm-2.control-label 温馨提示
            .col-lg-10
              p.form-control-static 【柠檬工作室】
                span.text-danger 你的密钥KEY是由我们提供的
                |,因此,
                span.text-danger 当每次用完一次群发之后便会失效
                |,如果你需要下次继续使用的话,
                span.text-danger#Meeting 请提前向我们申请
          .form-group
            label.col-sm-2.col-sm-2.control-label 原密钥KEY
            .col-sm-10
              input#disabledInput.form-control(type='text', placeholder=thekey.newkey, disabled='')
          .form-group
            label.col-sm-2.col-sm-2.control-label 状态
            .col-sm-10
              case thekey.issue
                when 0
                  span.label.label-warning 申请中
                when 1
                  span.label.label-info 可使用
                when 2
                  span.label.label-danger 失效
                default
                  span.label.label-danger 失效
          .form-group
            if thekey.issue<=1
              button.btn.btn-info.btn-lg.col-sm-6.col-sm-offset-3.apply(type='button', data-uid=user._id, disabled='disabled') 申请
            else
              button.btn.btn-info.btn-lg.col-sm-6.col-sm-offset-3.apply(type='button', data-uid=user._id) 申请